@import 'variaveis.scss';
@import 'tipografia.scss';
@import 'button.scss';
@import 'logo.scss';
@import 'login.scss';
@import 'menu.scss';
@import 'navbar.scss';

* {
	margin: 0;
	padding: 0;
}

#app {
	background: none;
}

body, html {
	background: $marfim;
	height: 100%;
}

.principal {
	width: 100%;
    height: 100%;
	background-image: url(../assets/2092.png);
	background-color: $principal;
	background-blend-mode: multiply;
	background-size: cover;
}

.align-center {
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

