<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Cadastrar novo usuário</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <h2>Cadastro de aluno</h2>
    <form class="form-horizontal" action="/form/cadastro" method="post" th:object="${usuario}">
        <div class="row">
            <div class="form-group col-md-6">
                <label for="txt-nome">Nome:</label>
                <input type="text" class="form-control" id="txt-nome" th:field="*{nome}" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="txt-email">Email:</label>
                <input type="email" class="form-control" id="txt-email" th:field="*{email}"/>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="usr-pswrd">Senha:</label>
                <input type="password" class="form-control" id="usr-pswrd" th:field="*{senha}">
            </div>
        </div>
        <input type="submit" value="Salvar" class="btn btn-default" />
    </form>
</div>
<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
</body>
</html>
